<div class="row">
    <div class="col mx-2">
        <div class="card justify-content-center" style="width: 18rem;">
            <img class="card-img-top" src="/public/images/snake.png" alt="Card image cap">
            <div class="card-body text-center bg-primary">
                <h5 class="card-title">Snake</h5>
                <a id="snakeCard" href="snake" class="btn btn-success">Play!</a>
            </div>
        </div>
    </div>
    <div class="col mx-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/public/images/sudoku.png" alt="Card image cap">
            <div class="card-body text-center bg-primary">
                <h5 class="card-title">Sudoku</h5>
                <a id="sudokuCard" href="sudoku" class="btn btn-success">Play!</a>
            </div>
        </div>
    </div>
    <div class="col mx-2">
        <div class="card" style="width: 18rem;">
            <img class="card-img-top" src="/public/images/tic_tac_toe.png" alt="Card image cap">
            <div class="card-body text-center bg-primary">
                <h5 class="card-title">Tic Tac Toe</h5>
                <a id="ticTacToeCard" href="tic-tac-toe" class="btn btn-success">Play!</a>
            </div>
        </div>
    </div>
</div>