<nav id="navBar" class="navbar navbar-expand-sm navbar-dark bg-primary">
    <a id="navBarHeader" class="navbar-brand" href="/">Web Games
        <%if (locals.pageName) { %>
            <span id="currentGame">- <%= pageName %></span>
        <% } %>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div id="navbarSupportedContent" class="collapse navbar-collapse">
        <ul class="navbar-nav mt-auto mb-auto">
            <li id="gameSelection" class="nav-item dropdown">
                <button class="dropdown-toggle btn btn-outline-success" type="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Select Game...
                </button>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a id="snake" class="dropdown-item" href="snake">Snake</a>
                    <a id="sudoku" class="dropdown-item" href="sudoku">Sudoku</a>
                    <a id="tic-tac-toe" class="dropdown-item" href="tic-tac-toe">Tic Tac Toe</a>
                </div>
            </li>
            <%if (locals.pageName) { %>
                <% var path=`${pageName.toLowerCase().split(' ').join('')}_buttons`; %>
                <%- include(path); %>
            <% } %>
        </ul>
    </div>
</nav>