<div class="col text-center">
    <h2>
        Current Score</br>
        <span id="currentScore">0</span>
    </h2>
</div>
<div class="col text-center">
    <h2>
        High Score</br>
        <span id="highScore">0</span>
    </h2>
</div>