<li class="nav-item">
    <button id="resetBtn" class="btn">Reset</button>
</li>
<li id="difficultySelection" class="nav-item dropdown">
    <a id="currentDifficulty" class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">
        Select Difficulty...
    </a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <button id="easy" class="dropdown-item" type="button">Easy</button>
        <button id="moderate" class="dropdown-item" type="button">Moderate</button>
        <button id="hard" class="dropdown-item" type="button">Hard</button>
    </div>
</li>