<%- include('separator'); %>
    <%- include('reset_button'); %>
        <li id="difficultySelection" class="nav-item dropdown">
            <button id="currentDifficulty" class="btn btn-outline-success dropdown-toggle" type="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Select Difficulty...
            </button>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <button id="easy" class="dropdown-item" type="button">Easy</button>
                <button id="moderate" class="dropdown-item" type="button">Moderate</button>
                <button id="hard" class="dropdown-item" type="button">Hard</button>
            </div>
        </li>
        <li>
            <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <label id="x-label" class="btn btn-secondary active">
                    <input type="radio" name="options" id="X" autocomplete="off" checked> X
                </label>
                <label id="o-label" class="btn btn-secondary">
                    <input type="radio" name="options" id="O" autocomplete="off"> O
                </label>
            </div>
        </li>