<div class="col text-center">
    <h2>Wins</br>
        <span id="humanWins">0</span>
    </h2>
</div>
<div class="col text-center">
    <h2>
        Losses</br>
        <span id="compWins">0</span>
    </h2>
</div>