:root {
    --node-border-color: black;
    --empty-node-color: white;
    --snake-node-color: black;
    --food-node-color: green;
    --error-node-color: red;
    --error-section1-node-color: rgba(255, 0, 0, 0.2);
    --error-section2-node-color: rgba(255, 0, 0, 0.4);
    --error-section3-node-color: rgba(255, 0, 0, 0.6);
}

.node {
    border: 1px solid var(--node-border-color);
    width: 30px;
    height: 30px;
    text-align: center;
}

td > input {
    display: table-cell;
    width: 100%;
    border: none;
    text-align: center;
    background: transparent;
}

.node.square {
    border-radius: 0%;
}

.node.empty {
    background-color: var(--empty-node-color);
}

.node.snake {
    background-color: var(--snake-node-color);
}

.node.food {
    background-color: var(--food-node-color);
}

.node.square.right {
    border-right: 3px solid var(--node-border-color);
}

.node.square.bottom {
    border-bottom: 3px solid var(--node-border-color);
}

.node.square.error {
    border: 3px solid var(--error-node-color);
}

.node.square.error-section1 {
    background-color: var(--error-section1-node-color);
}

.node.square.error-section2 {
    background-color: var(--error-section2-node-color);
}

.node.square.error-section3 {
    background-color: var(--error-section3-node-color);
}

.node.x {
    background-color: red;
}

.node.o {
    background-color: blue;
}
