:root {
    --node-border-color: black;
    --snake-node-color: black;
    --food-node-color: green;
}

.node {
    border: 1px solid var(--node-border-color);
    width: 25px;
    height: 25px;
}

.node.square {
    border-radius: 0%;
}

.node.snake {
    background-color: var(--snake-node-color);
}

.node.food {
    background-color: var(--food-node-color);
}
