:root {
    --node-border-color: black;
    --empty-node-color: white;
    --snake-node-color: black;
    --food-node-color: green;
}

.node {
    border: 1px solid var(--node-border-color);
    width: 30px;
    height: 30px;
    text-align: center;
}

td > input {
    display: table-cell;
    width: 100%;
    border: none;
    text-align: center;
}

.node.square {
    border-radius: 0%;
}

.node.empty {
    background-color: var(--empty-node-color);
}

.node.snake {
    background-color: var(--snake-node-color);
}

.node.food {
    background-color: var(--food-node-color);
}
